.formulario {
    text-align: center;

    background-color: #2d2d2d;
    width: 500px;
    height: 600px;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;

}
.formulario img,
.formulario label,
.formulario button {
    display: block;
    margin: auto;

}
.LogoConLetras{

    width: 245px;

}
.formulario input {
    margin-bottom: 5px;
}
input{
    width: 90%;
    border-radius: 10px;
}
label{
    text-align: left;

<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
