<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/estilos/perfil.css" th:href="@{/estilos/perfil.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="perfil">
        <div class="izquierda">
        <img class="LogoConLetras" src="static/estilos/img/Logo" th:src="@{/estilos/img/Logo.PNG}" >
        </div>
        <div class="derecha">

            <div class="botones">
                <button >Mi Cuenta</button>
                <button >Mis Boletos</button>
            </div>

            <div class="losinputs">
                <h3>Bienvenido <input th:value="${Nombre}"></h3>
                <h6>Número:  <input th:value="${telefono}" ></h6>
                <h6>Email:  <input  th:value="${email}" ></h6>
                <a  href="/logout"  id="submit" class="submit-button btn-danger"> Cerrar sesion </a>
            </div>



        </div>
    </div>
    <!-- <div >
       <h2>Historial de compra</h2>
        <table>
            <thead>
            <tr>
                <th>Película</th>
                <th>Fecha de compra</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>[Nombre de la película]</td>
                <td>[Fecha]</td>
                <td>
                    <button >Ver el boleto</button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>-->
</div>
</body>
</html>