<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla Thymeleaf</title>
    <style>
        form{
            display: block;
        }
    </style>
</head>
<body>
  <form th:action="@{Registro1}" method="post">

      <input type="text" name="nombre" placeholder="nombre">
      <input type="text" name="apellido" placeholder="apellido">

      <input type="text" name="telefono" placeholder="telfono">
      <input type="text" name="email" placeholder="email">
      <input type="password" name="contrasena" placeholder="contraseña">
¿
      <button type="submit">rEGISTRARSE</button>

  </form>


</body>
</html>