<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="static/estilos/registro.css" th:href="@{/estilos/registro.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="formulario">
        <img class="LogoConLetras" src="static/estilos/img/LogoConLetras" th:src="@{/estilos/img/LogoConLetras.PNG}" >

        <form th:object="${EnvioDeRegistro}" action="/register" method="post">
    <label for="nombres">Nombres:</label>
             <input th:field="*{nombre}" type="text" name="nombres" id="nombres" required><br><br>

    <label for="apellido">Apellido:</label>
              <input th:field="*{apellido}"   type="text" name="apellido" id="apellido" required><br><br>

    <label for="telefono">Teléfono:</label>
                <input th:field="*{telefono}" name="telefono" id="telefono" required><br><br>

    <label for="email">Email:</label>
               <input t th:field="*{email}" ype="email" name="email" id="email" required><br><br>

    <label for="contrasena">Contraseña:</label>
                <input th:field="*{contrasena}" type="password" name="contrasena" id="contrasena" required><br><br>

    <button type="submit" class="btn-danger" value="Registrarse"><strong>Registrarse</strong></button>

</form>
        </div>
</div>
</body>
</html>