<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<div layout:fragment="content">
<h2>Formulario de Registro</h2>
<form th:object="${EnvioDeRegistro}" action="/register" method="post">
    <label for="nombres">Nombres:</label>
             <input th:field="*{nombre}" type="text" name="nombres" id="nombres" required><br><br>

    <label for="apellido">Apellido:</label>
              <input th:field="*{apellido}"   type="text" name="apellido" id="apellido" required><br><br>

    <label for="telefono">Teléfono:</label>
                <input th:field="*{telefono}" name="telefono" id="telefono" required><br><br>

    <label for="email">Email:</label>
               <input t th:field="*{email}" ype="email" name="email" id="email" required><br><br>

    <label for="contrasena">Contraseña:</label>
                <input th:field="*{contrasena}" type="password" name="contrasena" id="contrasena" required><br><br>

    <button type="submit" value="Registrarse">registro</button>

</form>
</div>
</body>
</html>